@font-face {
  font-family: "iconfont"; /* Project id 5140501 */
  src: url('iconfont.woff2?t=1773746599337') format('woff2'),
       url('iconfont.woff?t=1773746599337') format('woff'),
       url('iconfont.ttf?t=1773746599337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e67d";
}

.icon-cart-empty:before {
  content: "\e826";
}

